.wrapper{
  width: 1316px;
  margin: auto;
}

@media screen and (max-width:1440px) {
  .wrapper{
    width: 1200px;
  }
}

@media screen and (max-width:1260px) {
  .wrapper{
    width: 1000px;
  }
}

@media screen and (max-width:1040px) {
  .wrapper{
    width: 800px;
  }
}

@media screen and (max-width:850px) {
  .wrapper{
    width: 600px;
  }
}

@media screen and (max-width:640px) {
  .wrapper{
    width: 500px;

  }
}

@media screen and (max-width:540px) {
  .wrapper{
    width: 400px;
  }
}

@media screen and (max-width:390px) {
  .wrapper{
    width: 300px;
  }
}